@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0rem;
  margin: 0rem;
  font-family: "Outfit";
  box-sizing: border-box;
}
.screen {
  height: 100vh;
  width: 100vw;
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  color: #a1a1aa;
  font-size: 1.1rem;
}
.input {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: #27272a;
  border-radius: 10px;
  border-color: #3f3f46;
  border-width: 1.5px;
  border-style: solid;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: stretch;
}
#at {
  color: #71717a;
  font-size: 23px;
  line-height: 0%;
  padding-right: 0.1rem;
}
#inputbar {
  background-color: #27272a;
  border-width: 0px;
  flex-grow: 1;
}
#inputbar[type="text"] {
  font-size: 20px;
  color: #9b9ba3;
  font-weight: 300;
  line-height: 0px;
}
#buttonsubmit {
  background-color: transparent;
  border: none;
}
.infoscreen {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #27272a;
  border-radius: 10px;
  border-color: #3f3f46;
  border-width: 1.5px;
  border-style: solid;
  padding: 2rem;
}
.image-name-tag {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}
#profile-pic {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}
#name {
  color: #ffffff;
  font-size: 1.2rem;
}
#handle {
  color: #9b9ba3;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 0.5rem;
}
.oneinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e21;
  padding: 1rem;
  border-radius: 5px;
}
.topinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.bottominfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.textinfo {
  color: #d4d4d8;
  font-weight: 300;
}
.themeselector {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 150px;
  top: 750px;
}
#padding {
  padding: 0.05rem;
  width: 1.25rem;
  background-color: #52525b;
}
